.MuiSvgIcon-root {
  pointer-events: none;
}

@supports (backdrop-filter: none) {
  .navbar {
    background-color: rgba(255, 255, 255, 0.7) !important;
    backdrop-filter: blur(13px);
  }
}

.MuiBottomNavigation-root {
  background-color: initial !important;
}

.menu-icon {
  margin-right: 8px;
}

.navbar {
  z-index: 100;
  background-color: #fff;
}

body {
  margin-bottom: 72px !important;
}

.navbar-tabs {
  z-index: 99;
}

@media (max-width: 575px) {
  .navbar {
    position: fixed;
    bottom: 0;
    box-shadow: 0 -3px 1px -2px rgba(0, 0, 0, 0.075),
      0 -2px 2px 0 rgba(0, 0, 0, 0.05), 0 -1px 5px 0 rgba(0, 0, 0, 0.045);
  }

  .navbar-tabs {
    position: initial;
  }
}

@media (min-width: 576px) {
  /* Hide shadow of first navbar if we have a second one */
  .navbar:first-of-type:not(:nth-last-child(2)) {
    box-shadow: none;
  }

  .navbar {
    position: sticky;
    top: 0;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.075),
      0 2px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 5px 0 rgba(0, 0, 0, 0.045);
  }

  .navbar-tabs {
    top: 8px; /* aligns with bottom of the navbar, hack for shadow effect */
  }
}

html {
  height: 100%;
}

.Mui-error {
  white-space: pre-line;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Fix autocomplete on custom */
/*.MuiAutocomplete-popper {*/
/*  top: 10px !important;*/
/*}*/
